.mainContainer {
  width: 231px;
  border: none;
  border-radius: 10px;
  text-align: left;
  overflow: hidden;
  margin: 0 15px 50px;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 231px;
  height: 153px;
}

h2 {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
}

p {
  color: black;
}

p span {
  font-weight: 300;
}

.container ul li {
  list-style: none;
}
.container ul {
  list-style: none;
  border: none;
}

.countryContainer {
  margin-left: 10px;
  margin-bottom: 50px;
}

.countryContainer p {
  margin: 0;
}
