.countryContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* margin-top: 20px; */
  padding-right: 200px;
  padding-left: 50px;
}

.searchContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
