.countryContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 100px;
  height: 100vh;
}

.searchContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  margin: 0 25px;
}
.searchContainer i {
  position: absolute;
  margin-left: 10px;
  color: gray;
}

.searchContainer input {
  width: 300px;
  padding: 10px;
  border: none;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
  border-radius: 5px;
  padding-left: 35px;
}

.searchContainer select {
  width: 100px;
  padding: 10px;
  border: none;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
  border-radius: 5px;
}
