.countryContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.searchContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  margin: 0 25px;
}
.searchContainer i {
  position: absolute;
  margin-left: 10px;
  color: gray;
}

.searchContainer input {
  width: 300px;
  padding: 10px;
  border: none;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
  border-radius: 5px;
  padding-left: 35px;
}

.searchContainer select {
  width: 100px;
  padding: 10px;
  border: none;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
  border-radius: 5px;
}

@media (min-width: 1200) {
  .countryContainer {
    margin: 0 200px;
  }
}

@media (max-width: 610px) {
  .searchContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
  }

  .searchContainer input {
    width: 50%;
    padding: 10px;
    border: none;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
    padding-left: 35px;
  }
}

@media (max-width: 310px) {
  .searchContainer i {
    margin-bottom: 45px;
  }
  .searchContainer select {
    margin-top: 10px;
  }
}
